#car-card-section {
    padding: 0 15px;
    background-color: var(--dsct-color-bg-secondary);
}

.dsct-card-container {
    width: 100%;
    max-width: 746px;
    margin: 0 auto;
}

#comments-section {
    padding: 20px 15px 5px 15px;
    background-color: var(--dsct-color-bg-tertiary);
}