footer {
    height: 120px;
    background-color: var(--dsct-color-bg-primary);
    color: var(--dsct-color-font-primary);
    display: flex;
    align-items: center;
}

.dsct-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dsct-footer-content a {
    font-size: 16px;
    margin-bottom: 5px;
}

.dsct-footer-content address {
    font-size: 16px;
}

@media (min-width: 576px) {
    footer {
    padding: 15px;
    }
    .dsct-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
}