.dsct-container h2 {
    text-align: center;
    color: var(--dsct-color-font-secondary);
    font-size: 20px;
    margin-bottom: 20px;
}

.dsct-card-comment {
    padding: 25px 20px;
    background-color: var(--dsct-color-bg-quarternary);
    border: 1px solid var(--dsct-color-card-border);
    border-radius: 12px;
    margin: 20px 0;
}

.dsct-card-comment p {
    font-size: 16px;
    color: var(--dsct-color-font-tertiary);
}

@media (min-width: 576px) {
    .dsct-container h2 {
    font-size: 32px;
    }   
}