@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --dsct-color-bg-primary: #3c9af0;
    --dsct-color-bg-secondary: #d9d9d9;
    --dsct-color-bg-tertiary: #c8c8c8;
    --dsct-color-bg-quarternary: #fff;

    --dsct-color-font-primary: #fff;
    --dsct-color-font-secondary: #5e5e5e;
    --dsct-color-font-tertiary: #3c9af0;

    --dsct-color-card-border: #3c9af0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--dsct-color-bg-secondary);
}

.dsct-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}