#car-card-section {
    padding: 0 15px;
    background-color: var(--dsct-color-bg-secondary);
}

.dsct-card-container {
    width: 100%;
    max-width: 746px;
    margin: 0 auto;
}

.dsct-card-container h2 {
    text-align: center;
    color: var(--dsct-color-font-secondary);
    font-size: 20px;
    margin: 20px;
}

.dsct-car-card {
    width: 100%;
    height: 248px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    border: 1px solid var(--dsct-color-card-border);
    border-radius: 10px;
    color: var(--dsct-color-font-secondary);
    margin-bottom: 20px; 
}

.dsct-car-card img {
    width: 260px;
    
}

.dsct-car-card h3 {
    font-size: 16px;
}